
footer {
    padding: 40px 20px;
    text-align: center;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer a {
    color: #5c5e62;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

footer a:hover {
    color: #171a20;
}
